<app-nav-bar></app-nav-bar>
<div class=" custum-Container bg-warning">

    <div class="container custum-title-home">
        <h4> Votre domicile ...Bienvenu</h4>
        <p>Votre hebergement et votre sécurité sont nos objectif</p>
    </div>

</div>
<hr class="custumer-hr">
<div class="container mt-4 info-section">

    <h4>Qui somme nous ? </h4>
    <div class="mt-4">
        <p>
            Le service d'hébergement pour les étudiants offre un logement sûr et confortable spécialement conçu pour
            répondre aux besoins des étudiants pendant leur parcours académique. Ce service vise à fournir un
            environnement
            propice à l'apprentissage, à la croissance personnelle et au développement social des étudiants.
        </p>
        <ul>
            <li>
                <i class="fa fa-check"> Le service d'hébergement pour les étudiants comprend des installations modernes
                    et bien entretenues, comprenant des chambres ou des dortoirs meublés, des espaces communs pour les
                    études et les loisirs, des installations de blanchisserie, ainsi que des services de sécurité 24
                    heures sur 24 pour assurer la tranquillité d'esprit des étudiants. Les résidences étudiantes sont
                    généralement situées à proximité des campus universitaires ou des centres d'études, offrant ainsi un
                    accès facile aux installations académiques et aux ressources éducatives.</i>
            </li>
            <li> <i class="fa fa-check">En plus de fournir un logement pratique, le service d'hébergement pour les
                    étudiants favorise également un environnement communautaire dynamique en organisant des activités
                    sociales, culturelles et éducatives pour favoriser les interactions entre les étudiants. Cela
                    favorise le développement de réseaux sociaux solides, encourage la collaboration entre pairs et crée
                    une atmosphère de soutien mutuel et de camaraderie.</i></li>
        </ul>
        <p>Grâce à ce service, les étudiants peuvent se concentrer pleinement sur leurs études et leur épanouissement
            personnel, tout en profitant d'une expérience de vie étudiante enrichissante et équilibrée. La sécurité, le
            confort et la convivialité sont au cœur de l'offre d'hébergement pour les étudiants, créant ainsi un
            environnement propice à la réussite académique et au bien-être général des étudiants.</p>
    </div>


</div>
<hr class="custumer-hr">
<div class="container section-service">
    <h4>Nos Services </h4>
    <p>

        Vous êtes invités à découvrir nos services d'hébergement sur mesure conçus spécialement pour répondre à vos
        besoins pendant votre parcours universitaire.</p>
    <div class="row mt-5 d-flex justify-content-between">
        <div class="col col-sm-12 col-md-6 col-lg-6">
            <p class="description-reservation"> Les services d'hébergement en ligne offrent des interfaces conviviales
                et des outils de gestion simples qui permettent de gérer facilement les aspects techniques de votre site
                web sans nécessiter de compétences avancées en informatique.Avec l'hébergement en ligne, vous pouvez
                facilement mettre à l'échelle vos ressources en fonction de l'évolution de vos besoins, vous permettant
                ainsi de gérer efficacement l'augmentation du trafic et de l'activité sur votre site.

                Fiabilité : Les services d'hébergement en ligne offrent une infrastructure fiable et robuste, avec une
                disponibilité élevée et des temps de fonctionnement fiables, ce qui garantit que votre site est
                accessible en tout temps.</p>
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-6">
            <img src="assets/images/hebergementEnLigne.jpeg" class="custumer-heb" alt="">
        </div>


    </div>
    <div class="row mt-5 d-flex justify-content-around mr-5 ">
        <div class="col  col-sm-12 col-md-6 col-lg-6">
            <img src="assets/images/ReserverChambre.png" class="custum-reservation-image" alt="">
        </div>
        <div class="col  col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">

            <p class="description-reservation">

                Notre système de réservation de chambres en ligne simplifie le processus de recherche et de réservation
                d'hébergement pour nos clients. En quelques étapes simples, les clients peuvent parcourir les
                différentes options de chambres disponibles, examiner les détails de chaque type de chambre, vérifier
                les tarifs et les disponibilités en temps réel, et effectuer une réservation sécurisée en ligne, le tout
                depuis le confort de leur domicile ou en déplacement.

                Nous offrons une interface conviviale et intuitive qui permet aux clients de filtrer leurs préférences
                en fonction de divers critères tels que la taille de la chambre, les équipements, les vues, et les
                tarifs, pour trouver la chambre qui correspond le mieux à leurs besoins et à leur budget. Notre système
                de réservation en ligne garantit la sécurité des informations personnelles des clients et assure une
                expérience de réservation fluide et sans tracas.</p>
        </div>
    </div>
</div>
<hr class="custumer-hr">
<div>
    <footer class="footer-section bg-warning">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>1010 Avenue, sw 54321, chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>9876543210 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid"
                                        alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                    incididuntut consec tetur adipisicing
                                    elit,Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">services</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Expert Team</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018, All Right Reserved <a
                                    href="https://codepen.io/anupkumar92/">Anup</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>